name: Hourly Job

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: 0 * * * *

jobs:
  get-current-time:
    runs-on: ubuntu-latest
    outputs:
      now: ${{ steps.set-time.outputs.now }}
    steps:
      - name: Get current time
        id: set-time
        run: |
          CURRENT_TIME=$(TZ='Asia/Shanghai' date '+%Y-%m-%d %H:%M:%S %z')
          echo "Current time: $CURRENT_TIME"
          echo "now=$CURRENT_TIME" >> $GITHUB_OUTPUT

  run:
    needs: get-current-time
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
          activate-environment: true
      - name: Install dependencies
        run: |
          uv pip install -r pyproject.toml
      - name: Run job once
        env:
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
          SIGNATURE: ${{ secrets.SIGNATURE }}
          LLM_MODEL: ${{ secrets.LLM_MODEL }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_BASE_URL: ${{ secrets.OPENAI_BASE_URL }}
          TZ: Asia/Shanghai
        run: |
          python main.py "${{ needs.get-current-time.outputs.now }}"
